@import "./config.scss";

#about_container {
  margin: 20vh 0;
  #main_heading_container {
    display: grid;
    place-items: center;
    #main_heading {
      color: #444649;
      font-family: $primary-font-bold;
      font-size: 25pt;
      position: relative;
      position: relative;
      text-transform: uppercase;
      font-weight: bolder;
    }
    #main_heading_bar {
      background: #0d3065;
      height: 4px;
      margin: 25px 0 75px 0;
      width: 70px;
    }
  }
  #design_container {
    @include about-grids(0 14vw 0 15vw, 6%, 50px, 180px);
    #design-polygon {
      height: 101px;
      // width: clamp(120px, 120px, 120px);
      min-width: 120px;
      max-width: 120px;
      width: 120px;
      background-color: $primary-2-color;
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      #design-logo {
        color: #fff;
        font-size: 42pt;
        margin: 0px 10px 0px 30px;
        padding-top: 18px;
      }
    }
    #design-content {
      margin: 2vh 0px 0px 25px;
      #design-title {
        color: #616161;
        font-size: 16pt;
        font-weight: bolder;
        font-family: $primary-font-bold;
      }
      #design-description {
        padding: 0.5vh 0 0 0;
        color: #616161;
        line-height: 12pt;
        font-family: $primary-font;
        font-size: 11pt;
        font-weight: 500;
      }
    }
  }
  #profile_section {
    @include about-grids(16vh 16vw 0 12vw, 6%, 180px, 400px);
    #profile-container {
      #profile-image {
        margin: 0 3vw;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );
        height: 40vh;
        background-image: url(../assets/profile_picture.jpeg);
        object-fit: cover;
        background-size: 105% 150%;
        background-color: $primary-2-color;
      }
      #profile-introduction {
        margin: 5vh 0px 0px 25px;
        #who-this {
          color: #616161;
          font-family: $primary-font-bold;
          line-height: 18pt;
          text-align: center;
          font-size: 25px;
          font-weight: bolder;
        }
        #who-this-description {
          color: #616161;
          line-height: 18pt;
          padding: 15px 0;
          font-family: $primary-font;
          text-align: justify;
        }
      }
      @media (max-width: 550px) {
        #profile-image {
          height: 240px;
        }
        #who-this {
          font-size: 11.5pt;
        }
        #who-this-description {
          font-size: 10.5pt;
        }
      }
      @media (max-width: 470px) {
        #profile-image {
          height: 27vh;
        }
      }
    }

    #skills-section {
      margin: 0;
      display: flex;
      height: 450px;
      // width: clamp(100%, 120%, 120%);
      width: 120%;
      min-width: 100%;
      max-width: 120%;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      #skill-bar {
        background-color: #eee;
        padding: 3px 13px 0 0;
        flex: auto;
        height: 30px;
        width: auto;
        color: black;
        text-align: right;
      }
      #skill-width {
        height: 30px;
        background-color: #00a1a7;
      }
      #skill-name {
        padding-top: 5px;
        background-color: #04c2c9;
        font-family: $primary-font-bold;
        font-weight: bolder;
        color: #fff;
        // width: clamp(22%, 27%, 27%);
        width: 27%;
        min-width: 22%;
        max-width: 27%;
        height: 30px;
        font-size: 11pt;
        text-align: center;
      }
      @media (max-width: 500px) {
        #skill-name {
          font-size: 9pt;
          padding: 7px;
        }
      }
    }
    @media (max-width: 900px) {
      #skills-section {
        margin-left: -4.5vw;
      }
    }
  }

  @media (max-width: 570px) {
    #design_container {
      margin: 0 20px;
      grid-gap: 10%;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(20px, 150px));
      #design-content {
        #design-title {
          font-size: 14pt;
        }
        #design-description {
          font-size: 10pt;
        }
      }
    }
  }
  @media (max-width: 399px) {
    #design_container {
      margin: 0 5px;
      grid-gap: 9%;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(20px, 120px));
      #design-content {
        #design-title {
          font-size: 13pt;
        }
        #design-description {
          font-size: 10pt;
        }
      }
    }
  }
}
