@import "./config.scss";

body {
  overflow-x: hidden;

  #particles-js {
    background: radial-gradient(circle, $primary-color 0%, $primary-color);
    width: 100%;
    height: 100vh;
  }
  #welcome {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $primary-font;
    height: 100vh;
    letter-spacing: 0.01cm;
    font-size: 3.7vw;
    font-weight: bolder;
    color: white;
    .scale_in_center {
      -webkit-animation: scale_in_center 1.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
      animation: scale_in_center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
        both;
    }
    // @-webkit-keyframes scale_in_center {
    //   0% {
    //     -webkit-transform: scale(0);
    //     transform: scale(0);
    //     opacity: 1;
    //   }
    //   100% {
    //     -webkit-transform: scale(1);
    //     transform: scale(1);
    //     opacity: 1;
    //   }
    // }
    @keyframes scale_in_center {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
    }
    #view_work_btn {
      @include button();
      text-align: center;
      height: 4em;
      padding: 0 2em;
      color: white;
      display: flex;
      align-items: center;
      font-weight: medium;
      text-transform: capitalize;
      &:hover {
        font-weight: bolder;
        #workbtn_logo {
          transform: rotate(-270deg);
          margin-top: -10px;
        }
      }
      #workbtn_logo {
        transition: transform 0.5s ease-in 0s;
      }
    }

    @media (max-width: 559px) {
      #view_work_btn {
        padding: 1.7vh 3.5vw;
      }
    }
    #secondary-section {
      background-color: rgb(47, 52, 61);
      margin: 150px 10%;
      padding: 20px 5vw 20px 5vw;
      display: grid;
      border-radius: 30px;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      column-gap: 80px;
      row-gap: 2rem;
      #lottie-animation {
        margin-top: -60px;
      }
      #lottie-paragraph {
        line-height: 1.3rem;
        #lottie-paragraph-heading {
          text-align: center;
          font-size: 5vh;
          color: $primary-2-color;
          #lottie-paragraph-text {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            row-gap: 50px;
            #certification {
              display: flex;
              #certification-text {
                font-size: 2.3vh;
                font-weight: 200;
                padding-left: 3vw;
                text-align: left;
                color: white;
              }
              #icon {
                font-size: 9vh;
                color: $secondary-font;
              }
            }
          }
        }
      }
    }
    @media (max-width: 530px) {
      #secondary-section {
        display: none;
      }
    }
    @media (max-width: 560px) {
      #secondary-section {
        margin: 150px 10% 150px 6%;
      }
      #secondary-section > #lottie-paragraph #lottie-paragraph-heading {
        font-size: 3.5vh;
      }
      #secondary-section > #lottie-paragraph #lottie-paragraph-text {
        font-size: 6vh;
      }

      #secondary-section > #lottie-animation {
        padding: 0 -40px;
      }

      #secondary-section
        > #lottie-paragraph
        #lottie-paragraph-text
        #certification
        #certification-text {
        font-size: 1vh;
      }
    }

    @media (max-width: 760px) {
      #secondary-section > #lottie-paragraph #lottie-paragraph-heading {
        font-size: 4vh;
      }
      #secondary-section > #lottie-paragraph #lottie-paragraph-text {
        font-size: 8vh;
      }
      #secondary-section
        > #lottie-paragraph
        #lottie-paragraph-text
        #certification
        #certification-text {
        font-size: 1.4vh;
      }
    }
  }
  @media (max-width: 1098px) and (min-width: 530px) {
    #welcome > #secondary-section {
      padding-bottom: 50px;
    }
  }
}
