@import "./config.scss";

body {
  overflow-x: hidden;

  #particles-js {
    background: radial-gradient(circle, $primary-color 0%, $primary-color);
    width: 100%;
    height: 100vh;
  }
  #welcome {
    text-align: center;

    position: absolute;
    display: flex;
    width: 100vw;
    padding: 0 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: $primary-font;
    height: 100vh;
    letter-spacing: 0.01cm;
    // font-size: 3vw;
    font-size: clamp(0.8rem, 1rem + 1vw, 7rem);
    font-weight: bolder;
    color: white;

    @media (max-width: 450px) {
      font-size: clamp(0.5rem, 0.8rem + 1vw, 7rem);
      font-weight: lighter !important;
    }

    .scale_in_center {
      -webkit-animation: scale_in_center 1.5s
        cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
      animation: scale_in_center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
        both;
    }

    @keyframes scale_in_center {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
      }
    }
    #view_work_btn {
      @include button();
      text-align: center;
      height: 3.6em;
      padding: 0 1.5em;
      color: white;
      display: flex;
      align-items: center;
      font-weight: medium;
      text-transform: capitalize;
      transition: 0.2s ease-in 0s;
      &:hover {
        transform: scale(1.01);
        border: none;
        letter-spacing: 0.02;
        #workbtn_logo {
          transform: rotate(-270deg);
          margin-top: -10px;
        }
      }
      #workbtn_logo {
        transition: transform 0.5s ease-in 0s;
      }
    }

    // @media (max-width: 559px) {
    //   #view_work_btn {
    //     padding: 1.7vh 3.5vw;
    //   }
    // }
  }
}
